body, html, .inner, .outer {
  height: 100%;
  margin: 0;
  background-color: #333;
  overflow: hidden;
}

#horizon {
  display: grid;
  grid-template-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-rows: 1fr;

  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.container {
  overflow: hidden;
}

.gutter-col {
  grid-row: 1/-1;
  cursor: col-resize;
}

.gutter-col-1 {
  grid-column: 2;
}

.gutter-col-3 {
  grid-column: 4;
}

.gutter-col-5 {
  grid-column: 6;
}

.gutter-col-7 {
  grid-column: 8;
}

select {
  width: 100%;
}