name: Web

on: [push, pull_request]

jobs:
  web:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - name: npm install
      run: |
        npm install
        npm test
        cd web
        npm install
        npm run build
    - name: Install SSH Client
      if: github.ref == 'refs/heads/main' && github.repository == 'abap-openapi/abap-openapi'
      uses: webfactory/ssh-agent@v0.4.1
      with:
        ssh-private-key: ${{ secrets.DEPLOY_KEY }}
    - name: Deploy
      if: github.ref == 'refs/heads/main' && github.repository == 'abap-openapi/abap-openapi'
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        SSH: true
        BRANCH: main
        REPOSITORY_NAME: abap-openapi/web-openapi-client
        FOLDER: web/dist
        GIT_CONFIG_NAME: actions
        GIT_CONFIG_EMAIL: actions@github.com
